* {box-sizing:border-box;}
body {background-color: #CCC;}

p {margin: 5px;}

figure {display: inline;}

ul {list-style-type: none;}

li {
	display: inline-block;
	padding: 10px;
	margin: 15px;
	font-size: 16px;
	font-weight: 800;
	background-color: lightblue;
	color: white;
}

.cat-pic {
	height: 300px;
	width: 300px;
	border-radius: 100px;
}

.cat-disp {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

#cat-title {
	font-style: italic;
}


